
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    padding: 0 10px;
}

/* home */
.home {
    display: grid;
    grid-template-columns: 40%  60%;
    grid-template-rows: 100vh;
    
}

.home_bg {
    background-image: linear-gradient(180deg, #170E7D 0%, #15104E 100%);
    color: white;
    display: flex;
    padding-top: 140px;
    flex-direction: column;
    justify-content: space-between;
}

.home_heading {
    font-weight: bold;
    font-size: 40px;
    padding: 0 30px 0 30px;
    text-align: center;
}

.home_des {
    margin-top: 25px;
    text-align: center;
    padding: 0 30px 0 30px;
}

.home_img_con{
    position: relative;
}

.lock {
    position: absolute;
    top: 120px;
    left: 100px;
}

/* home input forms */
.home_form_con {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_form {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 550px;
  padding: 40px 32px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 32px 0px rgba(85, 85, 85, 0.25);
}


.home_form_con h1 {
  color: #334054;
  font-size: 24px;
  font-family: Work Sans;
  font-weight: 600;
}

.home_form_con label {
 color: #334054;
 font-size: 16px;
 font-family: Work Sans;
 font-weight: 600;
}

.home_form_con  button {
 display: flex;
 width: 400px;
 padding: 15px 56px;
 justify-content: center;
 align-items: center;
 gap: 10px;
 border-radius: 8px;
 background: #170E7D;
 color: white;
 margin-top: 30px;
}
.home_form_con  input {
 display: flex;
 width: 400px;
 height: 46px;
 padding: 12px 10px;
 align-items: center;
 gap: 180px;
 border-radius: 8px;
 border: 1px solid #D0D5DD;
}

/* admin dashboard  */

.db_admin {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.admin_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(180deg, #170E7D 0%, #15104E 100%);
    padding:  50px 30px;
    color: white;
}

.admi_logo {
    margin-right: 50px;
}
.avatar_con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar_con button {
    border: 1px solid white;
    padding: 0 10px;
    border-radius: 5px;
}

.avatar_con img {
    margin-left: 15px;
}
.admin_header button {
    display: inline-block;
    margin: 0 20px;
}

.allusers_con {
   display: flex;
   flex-direction: column;
   width: 70%;
   margin: 0 auto;
}

.add_users {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
}

.add_users > h2 {
  font-weight: 900;
  font-size: 30px;
  color: #31394E;
}
.add_users button {
    display: inline-block;
    margin: 0 20px;
}

.users_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add_users_bn {
    color: white;
    background-image: linear-gradient(180deg, #170E7D 0%, #15104E 100%);
    padding: 10px;
    border-radius: 5px;
}

/* modal  */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3B3B40CC;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .modal-close {
    display: flex;
    justify-content: end;
    width: 100%;

  }


  /* upload multiple users  */
  .upload_multiple {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
.upload_multiple > h2 {
    font-weight: bold;
}
  .upload_multiple_content {
    margin-top: 30px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px 10px;
    margin-bottom: 30px;
  }

  .upload_multiple_content > p {
    text-align: center;
  }

  .upload_multiple_content > button {
    background-color: #170E7D;
    color: white;
    padding: 5px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .upload_multiple_content > img {
    padding: 30px 0;
  }

  .faint {
    color: #C7C7C7;
    text-align: center;
  }
  .faint > p {
    margin-bottom: 15px;
  }

  .faint > span {
    display: block;
    font-size: 12px;
    padding: 0;
  }

  /* upload one user  */
  .add_one_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
  }

  .add_one_user >  h2 {
    font-weight: bolder;
    color: #31394E;
  }

  .add_one_user  button {
    background-color: #170E7D;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 15px;
  }

  .input_con {
    width: 470px;
    margin-top: 20px;
    text-align: center;
  }

.input_con  input {
   width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding-left: 15px;
    margin: 10px 0;
}


/* admin logout  */
.admin_logout  button {
  margin: 10px;
  display: block;
  margin: 25px;
  border: 1px solid blue;
  padding: 0 15px;
  border-radius: 5px;
}
.admin_logout > p{
margin-top: 10px;
}

.admin_logout span {
font-weight: 900;
}
.admin_logout > div {
display: flex;
justify-content: flex-end;
}


/* users_table */

.table {
  width: 100%;
  text-align: center;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination-btn {
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 10px;

}


/* admin-dashboard */

.admin-dashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 30px 50px;
}

.admin-dashboard-left {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.left-top {
  display: flex;
  background-color: #F7F9FB;
  padding: 20px;
  text-align: left;
}
.left-top h2 {
  font-size: 35px;
}
.left-middle {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.left-middle > div {
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
}

.left-middle-items {
  display:flex;
  background-color: #F7F9FB;
  padding: 25px 35px;
  border-radius: 10px;
}

.icon-div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E3FE;

}

.users-stats {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.left-bottom {
  width: 100%;
  height: 300px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
}


.admin-dashboard-right {
  width: 30%;
  display: flex;
  flex-direction: column;
 border-radius: 10px;
}
.admin-dashboard-right > div {
  background-color: #F7F9FB;
  height: 40%;
  margin-bottom: 20px;
  text-align: center;
}
